<div class="bg-img">
    <div class = "container">
  <div class = "row ">
    <%= render "trainings/new", training:@training_new, food:@food_new %>
    <div class = "calendar">
    <div class = "col-md-8.offset-md-1">
      <h2>Training calendar</h2>
      <%= month_calendar events: @trainings do |date, trainings| %>
       <%= date.day %>
       <div id="<%= date.day %>">

       <% trainings.each do |training| %>
          <div>
           <%= link_to training_path(training.id) do %>
            <%= training.menu %>
           <% end %>
          </div>

       <% end %>
       </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>

