<div class = "container">
  <div class ="row">
    <%= render 'training/new', training:@training_new, food:@food_new %>
    <div class = 'col-md-8.offset-md-1'>
      <h2>User index</h2>
      <table>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th>gender</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= attachment_image_tag user, :image, fallback:"no.image.png",size:"100x100" %> 
            </td>
            <td>
              <%= link_to ,user_path(user.id) do %>
               <%= user.name %>
              <% end %>
            </td>
            <td><%= user.gender %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>