<div class= "container">
  <div class= "row">
    <%= render "trainings/new", training:@training_new, food:@food_new %>

    <div class = "col-md-5.offset-md-1 my-1">
      <h2>Food edit</h2>
      <% if @food.errors.any? %>
       <%= @food.errors.count %>件のエラーが発生しました
       <% @food.errors.full_messages.each do |message| %>
         <%= message %>
        <% end %>
      <% end %>
    </div>

    <div class = "col-md-6">
      <%= form_with model:@food, local:true do |f| %>
      <table>
        <thead>
          <tr>
            <th>food</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <th>
              <%= f.text_area:menu %>
            </th>
          </td>
        </tbody>
        <%= f.submit"Update food" %>
        <%= link_to"Back",food_path(@food.id) %>
      </table>
      <% end %>
    </div>
  </div>
</div>