<div class = "container">
  <div class = "row">
    <%= render "trainings/new", training:@training_new, food:@food_new %>
    <div class = "col-md-8.offset-md-1">
      <h2>Food calendar</h2>
      <%= month_calendar events: @foods do |date, foods| %>
       <%= date.day %>
       <div id="<%= date.day %>">
         <% foods.each do |food| %>
          <div>
           <%= link_to food_path(food.id) do %>
            <%=food.menu %>
           <% end %>
          </div>
         <% end %>
       </div>
      <% end %>
    </div>
  </div>
</div>