<div class = "container">
  <div class = "row">
    <%= render 'training/new', training:@training_new, food:@food_new %>
    <div class = "col-md-8.offset-md-1">
      <h2>Food calendar</h2>
      <%= month_calendar foods:@foods do |datetime,foods| %>
       <%= datetime.day %>
       <ul class = "food-list">
         <% food.each do |food| %>
         <li class= "list">
           <%= link_to food_path(food.id) do %>
            <%=food.menu %>
           <% end %>
         </li>
         <% end %>
       </ul>
      <% end %>
    </div>
  </div>
</div>