<% if @model =='user' %>
 <h2>Users search for <%= @content %></h2>
 <%= render 'users/index',users:@records %>
<% elsif @model =='training' %>
 <h2>Trainings search for <%= @content %></h2>
 <%= render 'trainings/index',trainings:@records %>
<% else @model =='food' %>
 <h2>Foods search for <%= @content %></h2>
 <%= render 'foods/index',foods:@records %>
<% end %>